<div class="header">
  <div class="container">
    <div class="header-body">
        <div class="header__logo">
          <a href="#" class="logo">
            <svg width="25" height="23">
              <use xlink:href="#logo"></use>
             </svg>
             <span>Fapor</span>
            </a>
          </div>
          <div id="toggle-btn" class="header__toggle">
            <div class="toggle-btn"></div>
          </div>
          <div id="header-nav" class="header__nav">
            <a href="#" class="nav-link">Home</a>
            <a href="#" class="nav-link active">About</a>
            <a href="#" class="nav-link">Service</a>
            <a href="#" class="nav-link">Portfolio</a>
            <a href="#" class="nav-link">Contact</a>
          </div>
    </div>
  </div>
</div>