  <div class="clients-box">
    <div class="container">
      <h2 class="h-line">WHAT OUR CLIENTS SAY</h2>
      <div class="clients-slider">
        <div class="slick-slider">
          <div class="item">
            <div class="client">
              <div class="client__img">
                <picture>
                    <source type="image/webp" srcset="../../../../assets/images/clients/user-3@3x.webp 1x, ../../../../assets/images/clients/user-3@2x.webp 2x, ../../../../assets/images/clients/user-3@3x.webp 3x">
                    <img src="../../../../assets/images/clients/user-3.png"  srcset="../../../../assets/images/clients/user-3@1x.png 1x, ../../../../assets/images/clients/user-3@2x.png 2x, ../../../../assets/images/clients/user-3@3x.png 3x" alt="Larry Jane" title="Larry Jane">
                </picture>
              </div>
              <div class="client__review">
                <p class="text">Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.</p>
                <div class="name">Larry Jane</div>
                <div class="position">General Manager</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="client">
              <div class="client__img">
                <picture>
                    <source type="image/webp" srcset="../../../../assets/images/clients/user-3@3x.webp 1x, ../../../../assets/images/clients/user-3@2x.webp 2x, ../../../../assets/images/clients/user-3@3x.webp 3x">
                    <img src="../../../../assets/images/clients/user-3.png"  srcset="../../../../assets/images/clients/user-3@1x.png 1x, ../../../../assets/images/clients/user-3@2x.png 2x, ../../../../assets/images/clients/user-3@3x.png 3x" alt="Larry Jane" title="Larry Jane">
                </picture>
              </div>
              <div class="client__review">
                <p class="text">Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.</p>
                <div class="name">Larry Jane</div>
                <div class="position">General Manager</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="client">
              <div class="client__img">
                <picture>
                    <source type="image/webp" srcset="../../../../assets/images/clients/user-3@3x.webp 1x, ../../../../assets/images/clients/user-3@2x.webp 2x, ../../../../assets/images/clients/user-3@3x.webp 3x">
                    <img src="../../../../assets/images/clients/user-3.png"  srcset="../../../../assets/images/clients/user-3@1x.png 1x, ../../../../assets/images/clients/user-3@2x.png 2x, ../../../../assets/images/clients/user-3@3x.png 3x" alt="Larry Jane" title="Larry Jane">
                </picture>
              </div>
              <div class="client__review">
                <p class="text">Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.</p>
                <div class="name">Larry Jane</div>
                <div class="position">General Manager</div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>