<div class="managers-box">
  <div class="container">
    <h2 class="h-line">Management</h2>
    <div class="row">
      <div class="manager-col col-md-4">
        <div class="manager">
          <a href="#"  class="manager__img">
            <picture>
                <source type="image/webp" srcset="../../../../assets/images/managers/user-1.webp 1x, ../../../../assets/images/managers/user-1.webp 2x, ../../../../assets/images/managers/user-1.webp 3x">
                <img src="../../../../assets/images/managers/user-1.png"  srcset="../../../../assets/images/managers/user-1.png 1x, ../../../../assets/images/managers/user-1.png 2x, ../../../../assets/images/managers/user-1.png 3x" alt="Courteney Cox" title="Courteney Cox">
            </picture>
          </a>
          <div class="manager__info-holder">
            <div class="manager__info">
              <a class="name">Courteney Cox</a>
              <div class="position">Marketing Manager</div>
            </div>
            <div class="manager__social">
                <a href="#" class="social-link">
                  <svg width="14" height="24"><use xlink:href="#facebook" /></svg>
                </a>
                <a href="#" class="social-link">
                  <svg width="16" height="24"><use xlink:href="#twitter" /></svg>
                </a>
                <a href="#" class="social-link">
                  <svg width="22" height="24"><use xlink:href="#google" /></svg>
                </a>
            </div>
          </div>
        </div>
      </div>
      <div class="manager-col col-md-4">
        <div class="manager">
          <a href="#" class="manager__img">
            <picture>
                <source type="image/webp" srcset="../../../../assets/images/managers/user-2.webp 1x, ../../../../assets/images/managers/user-2.webp 2x, ../../../../assets/images/managers/user-2.webp 3x">
                <img src="../../../../assets/images/managers/user-2.png"  srcset="../../../../assets/images/managers/user-2.png 1x, ../../../../assets/images/managers/user-2.png 2x, ../../../../assets/images/managers/user-2.png 3x" alt="Matt LeBlanc" title="Matt LeBlanc">
            </picture>
          </a>
          <div class="manager__info-holder">
            <div class="manager__info">
              <a class="name">Matt LeBlanc</a>
              <div class="position">Finance Manager</div>
            </div>
            <div class="manager__social">
              <a href="#" class="social-link">
                <svg width="14" height="24"><use xlink:href="#facebook" /></svg>
              </a>
              <a href="#" class="social-link">
                <svg width="16" height="24"><use xlink:href="#twitter" /></svg>
              </a>
              <a href="#" class="social-link">
                <svg width="22" height="24"><use xlink:href="#google" /></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="manager-col col-md-4">
        <div class="manager">
          <a href="#" class="manager__img">
            <picture>
                <source type="image/webp" srcset="../../../../assets/images/managers/user-3.webp 1x, ../../../../assets/images/managers/user-3.webp 2x, ../../../../assets/images/managers/user-3.webp 3x">
                <img src="../../../../assets/images/managers/user-1.png"  srcset="../../../../assets/images/managers/user-3.png 1x, ../../../../assets/images/managers/user-3.png 2x, ../../../../assets/images/managers/user-3.png 3x" alt="David Schwimmer" title="David Schwimmer">
            </picture>
          </a>
          <div class="manager__info-holder">
            <div class="manager__info">
              <a class="name">David Schwimmer</a>
              <div class="position">Creative Director</div>
            </div>
            <div class="manager__social">
              <a href="#" class="social-link">
                <svg width="14" height="24"><use xlink:href="#facebook" /></svg>
              </a>
              <a href="#" class="social-link">
                <svg width="16" height="24"><use xlink:href="#twitter" /></svg>
              </a>
              <a href="#" class="social-link">
                <svg width="22" height="24"><use xlink:href="#google" /></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="show-all">
      <a class="show-all__btn" href="#">Show All</a>
    </div>
  </div>
</div>